@import "tailwindcss";

:root {
  --background: #F6F6F6;
  --foreground: #3D3D3D;
  --oba-orange: #EA6229;
  --oba-light: #F6F6F6;
  --oba-dark: #3D3D3D;
}

@theme inline {
  --color-oba-orange: var(--oba-orange);
  --color-oba-light: var(--oba-light);
  --color-oba-dark: var(--oba-dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
